<div class="navbar">
	<div class="navbar--left">
		<a class="nav--logo" href="#">OP<span>SMARTER</span></a>
		<div class="nav--toggle">
			<span></span>
		</div>
	</div>
	<div class="navbar--right">
		<ul class="nav--items">
			<li>
				<div class="nav-item--search"></div>
			</li>
			<li>
				<div class="nav-item--notification">
					<span>3</span>
				</div>
			</li>
			<li>
				<div class="nav-item--user">
					<img src="http://lorempixel.com/500/500/people" alt="">
					<span>Christopher</span>
					<i></i>
				</div>
			</li>
		</ul>
	</div>
</div>