@charset 'utf-8';

// - - - - - - - - - - - - - - - - - - -
// - - application.scss
// contains an import section for base, components, lib, modules, pages


// - - - - - - - - - - - - - - - - - - -
// - - modules

// - - global modules - functions, mixins, extends, and utility classes.
// exp: @import 'modules/modules';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/extends';

// - - - - - - - - - - - - - - - - - - -
// - - base

// - - project defaults for base elements - h1-h6, p, a, etc.
// exp: @import 'base/base';
@import 'base/avenir';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");

@import 'base/base';

// - - - - - - - - - - - - - - - - - - -
// - - libs

// - - variable overrides for 3rd party libraries
// exp: @import 'libs/library-variable-overrides';
@import 'libs/font-awesome';

// - - - - - - - - - - - - - - - - - - -
// - - components

// - - global button styles
// exp: @import 'components/buttons';
@import 'components/main';
@import 'components/navbar';
@import 'components/sidebar';
@import 'components/table';
@import 'components/chart';
@import 'components/donut';
@import 'components/tab';
@import 'components/dropdown';
@import 'components/breadcrumb';

@import 'responsive';

// - - - - - - - - - - - - - - - - - - -
// - - pages

// - - home styles - a unique styles that implemented in a specified pages
// exp: @import 'pages/home';
