@media screen and (max-width: 550px) {
	.navbar{
		&--left {
			float: none;
		}
		.nav{
			&--toggle {
				float: right;
			}
			&--logo {
				margin-top: -8px;
			}
		}
	}
	.sidebar {
		display: none !important;
	}
	.col-xs-12.col-lg-6,
	.col-xs-12.col-lg-3,
	.col-xs-12.col-lg-12 {
	}
	.chart-container,
	.page-container .page-content .content-wrapper .content {
		padding: 10px;
	}
	.page-container .page-content .content-wrapper .content {
		margin-top: 20px;
	}
	.tab--item {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 13px;
		margin-top: 10px;
	}
	.tab--toolbar {
		top: -30px;
	}
	.panel .panel-wrapper {
		padding: 15px;
	}
	.table > tbody > tr > td {
		padding: 10px 15px;
	}
	.menuopen {
		position: fixed !important;
		display: block !important;
		width: 100% !important;
		z-index: 5;
		top: 70px;
		left:0;
		.sidebar-content {
			width: 100%;
			overflow-y: scroll !important;
		}
	}
	.nav_close {
		position: absolute;
		right: 15px;
		top: 0;
		font-size: 32px;
		-ms-transform: rotate(45deg); /* IE 9 */
	    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	    transform: rotate(45deg);
	}
}