.chart-container {
	position: relative;
	width: 100%;
	padding-top: 45px;
	padding-left: 55px;
	padding-bottom: 45px;
	padding-right: 55px;
}

.chart {
	display: block;
	position: relative;
	width: 100%;
	direction: ltr;
	&.has-fixed-height {
		height: 300px;
	}
}
