.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 50px;
	margin-bottom: 0;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	background-color: #051839;
	color: $white;
	z-index: 1050;
	@extend %clearfix;
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
	.nav {
		&--logo {
			display: inline-block;
			position: relative;
			margin-right: 30px;
			@extend %font-open-sans;
			font-size: 25px;
			line-height: normal;
			letter-spacing: -1px;
			color: $white;
			span {
				color: #E6150F;
			}
		}
		&--toggle {
			display: inline-block;
			position: relative;
			width: 18px;
			height: 18px;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $white;
				@include transform(translateY(-50%));
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -7px;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: $white;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -7px;
					right: 0;
					width: 100%;
					height: 2px;
					background-color: $white;
				}
			}
		}
		&--items {
			float: left;
			margin: 0;
			text-align: left;
			@extend %clearfix;
			> li {
				float: left;
				display: block;
				position: relative;
				margin-left: 15px;
				margin-right: 15px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			.nav-item {
				&--search {
					display: block;
					position: relative;
					width: 22px;
					height: 24px;
					margin-top: 10px;
					cursor: pointer;
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 16px;
						height: 16px;
						border: 2px solid $white;
						border-radius: 50%;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 6px;
						right: 0;
						width: 10px;
						height: 2px;
						background-color: $white;
						@include transform(rotate(45deg));
					}
				}
				&--notification {
					display: block;
				    position: relative;
				    width: 15px;
				    height: 18px;
				    margin-top: 10px;
				    padding-left: 2px;
				    padding-right: 2px;
				    padding-bottom: 10px;
				    border-top: 2px solid $white;
				    border-left: 2px solid $white;
				    border-right: 2px solid $white;
				    border-radius: 10px 10px 0 0;
				    cursor: pointer;
					&:before {
						content: '';
						display: block;
					    position: absolute;
					    bottom: -3px;
					    left: 2px;
					    width: 7px;
					    height: 7px;
					    background-color: $white;
					    border-radius: 50%;
					}
					&:after {
						content: '';
						display: block;
					    position: absolute;
					    bottom: 0px;
					    left: -4.5px;
					    width: 21px;
					    height: 0px;
					    border-top: 2px solid $white;
					    border-bottom: 2px solid #051839;
					}
					span {
						position: absolute;
						top: -12px;
					    right: -12px;
					    padding: 0 4.44px;
						background-image: linear-gradient(-221deg, #0E439E 6%, #072251 100%);
						border: 2px solid #051839;
						border-radius: 50px;
						font-size: 11px;
						font-weight: normal;
						text-align: left;
						line-height: normal;
						color: $white;
					}
				}
				&--user {
					margin-top: 2px;
					cursor: pointer;
					img {
						max-width: none;
						max-height: 30px;
						margin-top: -2.5px;
						vertical-align: middle;
						border-radius: 50%;
					}
					span {
						display: inline-block;
						padding-top: 6.5px;
						padding-left: 7px;
						padding-bottom: 6.5px;
						font-size: 14px;
						font-weight: bold;
						text-align: left;
						line-height: normal;
						color: $white;
					}
					i {
						display: inline-block;
						position: relative;
						margin-left: 5px;
						width: 10px;
						height: 5px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 6px;
							height: 2px;
							background-color: $white;
							@include transform(rotate(45deg));
						}
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							width: 6px;
							height: 2px;
							background-color: $white;
							@include transform(rotate(-45deg));
						}
					}
				}
			}
		}
	}
}