.sidebar {
	width: 200px;
	color: $white;
	z-index: 100;
	&.minimized {
		width: 60px;
		.sidebar-content {
			width: 60px;
			.sidebar-menu {
				.sidebar-navigation {
					li {
						a {
							span {
								display: none;
							}
						}
						&.navigation-header {
							span {
								max-width: 100%;
								overflow: hidden;
								white-space: pre;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}
	}
	.sidebar-content {
		position: fixed;
		width: 200px;
		max-height: 100%;
		padding-top: 19px;
		padding-bottom: 19px;
		background-color: #0F2446;
		.sidebar-menu {
			.sidebar-navigation {
				position: relative;
				li {
					position: relative;
					overflow: hidden;
					font-size: 13px;
					font-weight: 500;
					line-height: normal;
					+ li {
						margin-top: 1px;
					}
					&:hover {
						background-color: $cool-black;
					}
					&.is-active {
						background-color: $cool-black;
						a {
							color: $white;
							&:before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 3px;
								height: 100%;
								background-color: $lust;
								box-shadow: 0 0 30px 4px $lust;
							}
						}
					}
					&.navigation-header {
						min-height: 30px;
						padding-top: 16px;
						padding-left: 20px;
						padding-bottom: 16px;
						padding-right: 20px;
						border-bottom: 0;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						line-height: normal;
						color: $light-grey-two;
						&:hover {
							background-color: transparent;
						}
						span {
							display: block;
							margin-top: 2px;
						}
					}
					a {
						display: block;
						position: relative;
						min-height: 30px;
						padding-top: 16px;
						padding-left: 20px;
						padding-bottom: 16px;
						padding-right: 20px;
						color: $light-grey;
						.sidebar-icon {
							width: 16px;
							height: 16px;
							margin-right: 16px;
							vertical-align: sub;
							fill: currentColor;
						}
					}
				}
			}
		}
	}
}