*[data-toggle="tab"] {
	cursor: pointer;
}

.tab {
	position: relative;
	&--header {
		position: relative;
	}
	&--nav {
		position: relative;
		margin-top: 30px;
		margin-bottom: 20px;
		border-bottom: 1px solid $lavender-gray;
		@extend %clearfix;
		li {
			display: inline-block;
			position: relative;
			font-size: 14px;
			&.is-active {
				.tab--item {
					padding-left: 10px;
					padding-right: 10px;
					color: $dark-electric-blue;
					&:after {
						background-color: $lust;
					}
				}
			}
		}
	}
	&--item {
		display: block;
		position: relative;
		padding-top: 12px;
		padding-left: 30px;
		padding-bottom: 12px;
		padding-right: 30px;
		font-weight: bold;
		text-transform: capitalize;
		color: $lavender-gray;
		@include transition(all 0.3s ease);
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
		}
	}
	&--toolbar {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
		@extend %clearfix;
		li {
			display: inline-block;
			padding-top: 12px;
			padding-left: 5px;
			padding-bottom: 12px;
			padding-right: 5px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			svg {
				width: 18px;
				height: 18px;
				vertical-align: middle;
				fill: currentColor;
			}
			.dropdown-menu {
				min-width: 200px;
				li {
					display: block;
					padding: 0;
					a {
						display: block;
						padding-top: 12px;
						padding-left: 20px;
						padding-bottom: 12px;
						padding-right: 20px;
						color: #92A3C2;
						svg {
							margin-right: 10px;
							vertical-align: sub;
						}
						.toggle {
							position: absolute;
							top: 12px;
							right: 20px;
						}
					}
				}
			}
		}
	}
	&--content {
		position: relative;
	}
	&--pane {
		// display: none;
		position: relative;
		&.is-active {
			display: block;
		}
	}
}