.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	> thead {
		> tr {
			> th {
				padding: 12px 20px;
				vertical-align: middle;
				font-weight: 600;
				text-align: left;
				line-height: normal;
				color: inherit;
			}
		}
	}
	> tbody {
		> tr {
			> td {
				padding: 12px 20px;
				vertical-align: middle;
				line-height: normal;
				color: inherit;
				&.text-bold {
					font-weight: 600;
				}
				&.text-center {
					text-align: center;
				}
				.table-icon {
					width: 16px;
					height: 16px;
					margin-right: 16px;
					vertical-align: sub;
					fill: currentColor;
				}
			}
		}
	}
	&--basic {
		> thead {
			> tr {
				> th {
					border-bottom: 2px solid $lavender-gray;
					color: #616684;
				}
			}
		}
		> tbody {
			> tr {
				> td {
					border-bottom: 1px solid $lavender-gray;
					color: $taupe-gray;
				}
			}
		}
	}
	&--flat {
		> thead {
			> tr {
				> th {
					border-bottom: 2px solid $lavender-gray;
					color: #616684;
				}
			}
		}
		> tbody {
			> tr {
				> td {
					border-bottom: 1px solid $lavender-gray;
					color: $taupe-gray;
					&:first-child {
						color: $robin-egg-blue;
					}
				}
			}
		}
	}
	&--material {
		> thead {
			> tr {
				> th {
					padding-top: 20px;
					padding-bottom: 20px;
					color: #616684;
				}
			}
		}
		> tbody {
			background: $white;
			box-shadow: 0 2px 20px 0 rgba(134,141,184,0.10);
			> tr {
				border-bottom: 8px solid #F6F7FB;
				&:last-child {
					border-bottom: none;
				}
				> td {
					padding-top: 20px;
					padding-bottom: 20px;
					color: $taupe-gray;
					&:nth-last-child(2) {
						color: #616684;
					}
					&:first-child,
					&:last-child {
						color: $robin-egg-blue;
					}
				}
			}
		}
	}
	&--with-icon-left {
		> thead {
			> tr {
				> th {
					&:first-child {
						padding-left: 25px;
					}
				}
			}
		}
		> tbody {
			> tr {
				> td {
					&:first-child {
						padding-left: 25px;
						.table-icon {
							margin-left: -25px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
	&--with-icon-right {
		> tbody {
			> tr {
				> td {
					&:first-child {
						position: relative;
						.table-icon {
							position: absolute;
							top: 12px;
							right: 20px;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	&--with-datatable {
		> thead {
			> tr {
				> th {
					position: relative;
					outline: none;
					cursor: pointer;
					&:after {
						content: '\203A';
						display: inline-block;
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -10px;
						font-size: 22px;
						font-weight: normal;
						line-height: 1;
						color: inherit;
					}
					&.sorting,
					&.sorting_asc {
						&:after {
							@include transform(rotate(90deg));
						}
					}
					&.sorting_desc {
						&:after {
							@include transform(rotate(-90deg));
						}
					}
				}
			}
		}
	}
}

.table-wrapper {
	position: relative;
	padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.table-responsive {
	overflow-x: auto;
    min-height: 0.01%;
    @include bp-768 {
    	width: 100%;
    	overflow-y: hidden;
    }
}
