// - - Clearfix
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// - - Fonts
// - Font Families
%font-open-sans {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

%font-avenir {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
