// - - Colors
$white: #FFFFFF;
$light-grey: #92A3C2;
$light-grey-two: #566175;
$lavender-gray: #BDC6D7;
$dim-gray: #6E7373;
$oxford-blue: #051839;
$oxford-blue-two: #0F2346;
$cadet: #566174;
$lust: #E5150E;
$cool-black: #152F5C;
$robin-egg-blue: #0CD5BB;
$kelly-green: #28CB00;
$royal-blue: #2469E1;
$taupe-gray: #878787;
$st-patricks-blue: #202F80;
$platinum: #E2E2E2;
$dark-electric-blue: #616683;
$dark-orchid: #7F39BC;
$cadet-grey: #91A2C2;

// - - Fonts
$font-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-avenir: 'Avenir', Helvetica, Arial, sans-serif;
