html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F6F7FB;
    @extend %font-avenir;
    font-size: 14px;
    line-height: normal;
    color: $white;
    font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    &.is-overlayed {
        overflow: hidden;
    }
}

figure,
footer,
header,
section {
    display: block;
}

video {
    display: block;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: inherit;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

p {
    @extend %font-avenir;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-selection {
    background-color: #E6150F;
    color: #FFFFFF;
}

::-moz-selection {
    background-color: #E6150F;
    color: #FFFFFF;
}

::selection {
    background-color: #E6150F;
    color: #FFFFFF;
}
