// - - Breakpoints
@mixin bp-1024 {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin bp-992 {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin bp-768 {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin bp-425 {
    @media only screen and (max-width: 425px) {
        @content;
    }
}

@mixin bp-375 {
    @media only screen and (max-width: 375px) {
        @content;
    }
}

@mixin bp-320 {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

// - - Animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

// - - Transform
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

// - - Transition
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
