.breadcrumb {
	position: relative;
	margin-bottom: 0;
	padding-left: 15px;
	&--nav {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&--item {
		display: inline-block;
		position: relative;
		+ .breadcrumb--item {
			&:before {
				content: '/\00a0';
			    padding: 0 5px;
			    color: $light-grey;
			}
		}
		&.is-active {
			color: $dark-electric-blue;
		}
		a {
			color: $light-grey;
			svg {
				width: 15px;
				height: 15px;
				margin-right: 8px;
				vertical-align: sub;
				fill: currentColor;
			}
		}
	}
}