.donut-wrapper {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	h3 {
		margin: 0;
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: normal;
		color: $oxford-blue;
	}
	h1 {
		margin: 0;
		margin-bottom: 15px;
		font-size: 22px;
		font-weight: 500;
		line-height: normal;
		color: #213081;
	}
	.donut-chart {
		position: relative;
		.donut {
			display: block;
			width: 160px;
			margin: 0 auto;
			stroke-width: 6.786;
			&--bg {
				stroke: #E5EBF6;
			}
			&--bar {
				stroke-linecap: round;
				stroke-dasharray: 439.82297;
				@include transition(stroke-dashoffset 1s ease-out);
			}
		}
		.donut-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
	}
}
