*[data-toggle="dropdown"] {
	cursor: pointer;
}

.dropdown-active {
	.dropdown-menu {
		display: block;
	}
}

.dropdown-menu {
	float: left;
	display: none;
	position: absolute;
	top: 100%;
	left: auto;
	right: 0;
	padding: 15px 0px;
	background-color: #0F2446;
	background-clip: padding-box;
	list-style: none;
	text-align: left;
	z-index: 1000;
	li {
		position: relative;
		margin-bottom: 1px;
		&:hover {
			background-color: $cool-black;
		}
	}
}
