.svg-sprite {
	position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.page-container {
	display: table;
	position: relative;
	width: 100%;
	padding-top: 69px;
	table-layout: fixed;
	.page-content {
		display: table-row;
		.sidebar,
		.content-wrapper {
			display: table-cell;
			position: relative;
			vertical-align: top;
		}
		.content-wrapper {
			width: 100%;
			.content {
				padding-top: 37px;
				padding-left: 35px;
				padding-right: 35px;
				padding-bottom: 80px;
			}
		}
	}
}

.panel {
	margin-bottom: 30px;
	background: $white;
	box-shadow: 0 2px 20px 0 rgba(134,141,184,0.10);
	border-radius: 3px;
	.panel-wrapper {
		padding-top: 30px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 30px;
	}
}

.panel-header {
	position: relative;
	margin-bottom: 20px;
	.panel-title {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 900;
		line-height: normal;
		color: #213081;
	}
	.heading-elements {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -9px;
		a {
			font-size: 14px;
			font-weight: 500;
			line-height: normal;
			color: $royal-blue;
		}
	}
}

.toggle {
	position: relative;
	&--switch {
		display: none;
		+ label {
			display: inline-block;
			position: relative;
			width: 35px;
			height: 18px;
			background-color: #152F5C;
			border-radius: 70px;
			@include transition(all .4s ease-in-out 0s);
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 18px;
				width: 14px;
				height: 14px;
				margin-top: -7px;
				background-color: $white;
				border-radius: 50%;
				@include transition(inherit);
			}
		}
		&:checked {
			+ label {
				&:before {
					right: 3px;
				}
			}
		}
	}
}
