@media screen and (max-width: 550px) {
  /* line 3, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .navbar--left {
    float: none; }
  /* line 7, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .navbar .nav--toggle {
    float: right; }
  /* line 10, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .navbar .nav--logo {
    margin-top: -8px; }
  /* line 15, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .sidebar {
    display: none !important; }
  /* line 22, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .chart-container,
  .page-container .page-content .content-wrapper .content {
    padding: 10px; }
  /* line 26, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .page-container .page-content .content-wrapper .content {
    margin-top: 20px; }
  /* line 29, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .tab--item {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    margin-top: 10px; }
  /* line 35, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .tab--toolbar {
    top: -30px; }
  /* line 38, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .panel .panel-wrapper {
    padding: 15px; }
  /* line 41, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .table > tbody > tr > td {
    padding: 10px 15px; }
  /* line 44, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .menuopen {
    position: fixed !important;
    display: block !important;
    width: 100% !important;
    z-index: 5;
    top: 70px;
    left: 0; }
    /* line 51, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
    .menuopen .sidebar-content {
      width: 100%;
      overflow-y: scroll !important; }
  /* line 56, /Applications/XAMPP/xamppfiles/htdocs/dn/af/opsmarter/html/assets/scss/responsive.scss */
  .nav_close {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 32px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); } }

/*# sourceMappingURL=../css/responsive.map */